{% extends "base.html" %}

{% block content %}

    <!-- Display movie info -->
    <p>Title: {{ movie.title }}</p>
    <p>Release Date: {{ movie.released_at.strftime('%B %d, %Y') }}</p>
    <p><a href='{{ movie.imbd_url}}'>IMDB link</a></p>

    <!-- Check for logged in user -->
    {% if 'email' in session %}
        <form action='/add-rating/{{ movie.movie_id }}' method='POST'>
            <label>
                Your Rating:
                {% if rating %}

                    <!-- Display user rating if it exists -->
                    {{ rating.score }}
                {% endif %}
            </label><br>

            <!-- Drop-down with numbers 1 to 5 -->
            <select name='rating'>
                {% for i in range(1, 6) %}
                    <option value='{{ i }}'
                        {% if rating %}
                            {% if rating.score == i %}
                                selected='true'
                            {% endif %}
                        {% endif %}
                    >{{ i }}</option>
                {% endfor %}
            </select>

            <!-- Button text = Update Rating if rating exists
                               else Add Rating if rating does not exist -->
            <input type='submit'
            value='{% if rating -%}Update{%- else -%}Add{%- endif %} Rating'>
        </form>
    {% endif %}

    <!-- If the movie has been rated -->
    {% if movie.ratings %}

        <!-- Calculate average rating -->
        <p>
            Average Rating:
            {{ (movie.ratings|sum(attribute='score') / movie.ratings|length)|round(1, 'common') }}
        </p>
        <ul>

            <!-- Display list of ratings -->
            {% for rating in movie.ratings %}
                {% if rating.user.email != None %}
                <!-- Link to user page -->
                <li>
                    <a href='/users/{{ rating.user.user_id }}'>
                        {{ rating.user.email }}
                    </a> | {{ rating.score }}
                </li>
                {% endif %}
            {% endfor %}
         </ul>
    {% endif %}

{% endblock %}