{% extends "base.html" %}

{% block content %}

    <p>Email: {{ user.email }}</p>
    <p>Age: {{ user.age }}</p>
    <p>Zipcode: {{ user.zipcode }}</p>

    <a href='/update-user'>Update Details</a>

    {% if user.ratings %}
        <ul>
            {% for rating in user.ratings %}
                <li>
                    <a href='/movies/{{ rating.movie.movie_id }}'>
                        {{ rating.movie.title }}
                    </a> | {{ rating.score }}
                </li>
            {% endfor %}
         </ul>
    {% endif %}

{% endblock %}